[2015-10-07 02:20] sckott opened #1 "library name change"
Given crossref's software is `cayenne`, maybe `habanero` (don't conflict with the R and Ruby clients)

[2015-10-07 02:24] sckott commented on #1
done

[2015-10-07 02:24] #1 closed

[2015-10-18 18:44] sckott opened #2 "Setup codecov"

[2015-10-18 18:44] sckott opened #3 "Make sure 2/3 compatible"

[2015-10-22 05:11] sckott opened #4 "Implement filter handler"

[2015-10-22 15:05] sckott commented on #4
done in 726a5f614df0ddbb8b5024169cc8ec152ae23cca

[2015-10-22 15:08] sckott commented on #2
set up more or less, though not sure it's totally working, weirdness

[2015-10-22 15:08] sckott opened #6 "Add remainder of paths"
only works and members done now

[2015-10-22 15:09] sckott opened #7 "Fill out test suite"

[2015-10-22 15:10] sckott opened #8 "Make nicer docs"
Using sphinx and readthedocs now, not great right now, cleanup

[2015-10-22 16:07] sckott commented on #4
hmmm, was stuck in R thinking. Probably dont need to force users to use modified filter names as they have to be passed quoted anyway, e.,g, `{'has-funder': True, 'has-full-text': True}`

But, maybe it's easier to have a consistent interface to filter names, not sure what's best

[2015-10-26 04:32] sckott opened #9 "Method to extract full text links"

[2015-10-27 00:06] sckott opened #10 "Add egs of how to process output"

[2015-10-27 00:12] sckott opened #11 "Maybe give user option of how to respond to errors in crossref API"

[2015-10-27 00:13] sckott commented on #9
Added method on response object, not a separate function, good for now

[2015-10-27 00:13] #9 closed

[2015-10-27 00:36] sckott opened #12 "Fix request method to work on length ids > 1"

[2015-10-27 01:05] sckott opened #13 "Add agency method"

[2015-10-27 01:05] #12 closed

[2015-10-27 01:05] #13 closed

[2015-10-27 01:25] sckott commented on #4
@gbilder thoughts on this?  Better to have filter names match exactly as in the Crossref API? Or do you think that doesn't matter so much?  It makes it much easier to use to e.g., change `'has-funder'`  to `'has_funder'` in R, but not necessary in Python or Ruby.

Seem okay to not be consistent across languages?

[2015-10-27 05:28] sckott commented on #2
sorted, using coveralls instead

[2015-10-27 05:28] #2 closed

[2015-10-27 05:37] sckott opened #14 "Todo"
- [x] agency method
- [x] random DOIs method
- [x] content negotiation
- [x] citation count
- [ ] ~~crosscite~~ drop this, use content negotiation via dx.doi.org instead

[2015-10-27 15:16] sckott opened #15 "fundref to funders"
from sckott/serrano#11

[2015-10-29 16:48] sckott opened #16 "Add code of conduct"

[2015-10-29 20:00] sckott opened #17 "date conversion helper"
`convert_crossref_date` = Using the date probably important, but we need to make users convert separately, and not doing by default internally

[2015-11-03 16:35] sckott opened #18 "Cursor support"
https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#deep-paging-with-cursors

[2015-11-04 01:35] sckott opened #19 "Possibly use module package architecture instead of classes"
might be simpler, like did for `pygbif`

[2015-11-04 02:30] #15 closed

[2015-11-04 02:30] #16 closed

[2015-11-04 10:33] afandian commented on #19
This would be suitable for static helper functions (like date transform) but I think classes is best, especially when you might start to get state involved (e.g. deep paging or query builders).

Suggest probably a combination of both: module functions for despatching queries, but class hierarchies for results, and operations that can happen on results. Getting state mixed up with modules is a bad

[2015-11-04 15:20] sckott commented on #19
@afandian  Thanks for the feedback. Yeah, esp. maintaining state alone is a good reason for using classes.

[2015-11-07 18:34] sckott opened #20 "Filter info method"
like sckott/serrano#10

[2015-11-07 21:53] #20 closed

[2015-11-07 21:59] sckott commented on #4
done

[2015-11-07 21:59] #4 closed

[2015-11-07 22:16] sckott commented on #6
Have:

- `/works`
- `/members`
- `/prefixes`
- `/funders`
- `/journals`
- `/types`
- `/licenses`
- `agency`

[2015-11-08 00:38] sckott commented on #6
done

[2015-11-08 00:38] #6 closed

[2015-11-09 21:48] sckott commented on #8
pretty good now

[2015-11-09 21:48] #8 closed

[2015-11-15 23:13] sckott commented on #3
seems to be sorted

[2015-11-15 23:13] #3 closed

[2015-11-15 23:16] #11 closed

[2015-11-16 00:04] sckott opened #21 "Change agency to registration_agency"

[2015-11-16 00:07] #21 closed

[2015-11-16 14:49] #10 closed

[2015-11-17 02:08] sckott opened #22 "Full text links helper method"
to extract just links

[2015-11-17 02:08] #14 closed

[2015-11-17 13:29] #7 closed

[2015-11-17 15:47] sckott opened #23 "Funders route"
make note that funders without IDs don't show up on the `/funders` route

[2015-11-24 18:45] #23 closed

[2015-11-24 19:18] sckott opened #24 "Note that sample param ignored unless /works used"

[2015-11-24 21:05] #24 closed

[2015-11-25 01:35] sckott commented on #18
working on branch `cursor` to keep master clean

[2015-11-27 17:06] sckott opened #25 "python3 install error from pypi"
[code]

weird that it errors on a changelog file not found, but I must have done something wrong there.

note: `pip install habanero` works fine for python2

[2015-12-02 23:38] sckott opened #26 "Add more details to content negotation docs"

[2015-12-02 23:44] sckott opened #27 "Add method to get CSL styles for help with whats available"

[2015-12-03 00:25] sckott commented on #27
added in 31c3156d85ee3785a620a3d68d2c5bd74df82513

[2015-12-03 00:25] #27 closed

[2015-12-03 00:27] #26 closed

[2015-12-03 00:28] sckott commented on #25
this should be sorted now

using a universal wheel build now, when calling `sdist`

will deploy new patch version to pypi today, i think

[2015-12-03 00:28] #25 closed

[2016-01-12 21:13] sckott opened #28 "Progress bar when using cursor"
Seems important esp when using cursor since it can be a while before request is done

[2016-01-12 22:10] sckott commented on #28
seems to be nothing in `requests` library, so not do this

[2016-01-12 22:10] #28 closed

[2016-01-13 02:05] sckott commented on #18
sorted

[2016-01-13 02:05] #18 closed

[2016-01-13 02:05] sckott commented on #22
nah, maybe later if users request

[2016-01-13 02:05] #22 closed

[2016-01-13 02:38] sckott opened #30 "Fill out test suite"

[2016-01-13 05:33] sckott opened #31 "Parse http errors, to give back meaningful error messages"
e.g., `cr.journals(ids = "2167-8359", works = False, filter = {'from_pub_date': '2014-03-03'})` gives

`HTTPError: 400 Client Error: Bad Request for url: http://api.crossref.org/journals/2167-8359?filter=from-pub-date%3A2014-03-03`

But actual error is

[code]

[2016-01-13 16:28] sckott commented on #31
[code]

[2016-01-19 19:38] sckott opened #32 "Add disclaimer to docs that full text/abstracts aren't searched"
Point to https://github.com/CrossRef/rest-api-doc/issues/101

[2016-02-01 15:45] #32 closed

[2016-02-02 18:33] sckott opened #33 "Add user agent string for habanero and ver. in requests"

[2016-02-09 21:45] #33 closed

[2016-02-09 22:08] sckott commented on #31
seems sorted now

[2016-02-09 22:08] #31 closed

[2016-02-09 22:08] #30 closed

[2016-02-19 22:16] #19 closed

[2016-03-10 01:41] sckott opened #34 "old code in some examples, clean out"

[2016-03-10 01:53] sckott opened #35 "bug in registration agency method"

[2016-03-10 01:54] #35 closed

[2016-03-10 01:55] #34 closed

[2016-04-05 18:37] sckott opened #37 "Allow users to set base url for content negotation"
via #36

[2016-05-24 21:20] sckott opened #38 "Support field queries"
https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#field-queries

https://github.com/CrossRef/rest-api-doc/issues/3
https://github.com/CrossRef/rest-api-doc/issues/107
https://github.com/CrossRef/rest-api-doc/issues/111

[2016-06-09 07:03] sckott opened #39 "Try pytest for tests?"
http://pytest.org/latest/

[2016-06-23 15:44] mbrunnen opened #40 "DOIs for works"
I want to get meta data from a known DOI. The URL is:
[http://api.crossref.org/works/10.1109/MWC.2007.358967](http://api.crossref.org/works/10.1109/MWC.2007.358967)

My code is:
[code]
But  habanero is requesting the very unspecific url:
[http://api.crossref.org/works/](http://api.crossref.org/works/)
I looked it up in the file `request_class.py` in the class function `Request._url()`.
I'm just st

[2016-06-23 16:23] sckott commented on #40
Good catch, tests should have caught that, will fix that.

Weird, I must have slipped up at some point when I was adding support for cursor for deep paging. fixing

[2016-06-24 03:13] sckott commented on #40
closing, if not fixed, reopen

[2016-06-24 03:13] #40 closed

[2016-06-24 03:32] sckott commented on #38
see also https://github.com/CrossRef/rest-api-doc/issues/131

[2016-06-24 06:11] sckott opened #41 "kwargs wasn't being captured in the request method"

[2016-06-24 14:01] mbrunnen commented on #40
Now it works :+1:

[2016-06-24 20:53] #38 closed

[2016-09-07 15:44] sckott opened #44 "sample param max now 100"
https://github.com/CrossRef/rest-api-doc/issues/146#issuecomment-245249671

[2016-10-25 20:55] sckott opened #45 "document new throttling rate limit"
10 requests per second per IP

gives 429 response

[2016-10-25 20:58] sckott opened #46 "fix tests for throttling"
because of #45 change test suite to back off requests

[2016-10-26 09:28] gbilder commented on #45
Suggest you wait. The rate limits have only been put in as we attempt to discover what is occasionally pegging our system and bringing it down. Not clear they are permanent. If we do make them long-term, we will at least advertise them in the headers so the library can adjust accordingly.

[2016-10-26 13:58] sckott commented on #45
Okay, will wait

[2016-11-07 19:54] sckott opened #47 "new 10K limit for /works"
https://github.com/CrossRef/rest-api-doc/commit/d8030c794669ffb6d9f1fce3eb3ff824cc2afc9c?w=1

[2016-11-12 00:42] sckott opened #48 "filter, may not be working for duplicate filter names"
make sure this works

[2017-01-28 21:50] sckott opened #49 "update docs that facet can be a query in addition to a boolean"
https://github.com/sckott/habanero/blob/master/habanero/crossref/crossref.py#L77 and throughout library

not sure if allows non-boolean inputs as should, check this

[2017-03-13 22:19] sckott opened #50 "more documentation on field queries needed"
based on user confusion seen

[2017-03-17 00:04] sckott commented on #41
cause we're passing the query string dumbo

[2017-04-12 01:15] a59 opened #53 "search for Title fails with KeyError: 'content-type'"
[code]

The search for Title 1 works but the search for Title 2 fails with KeyError: 'content-type'

[2017-04-12 21:00] sckott commented on #53
@a59 what version of `habanero` do you have?  i can't replicate your issue

[2017-04-13 03:00] a59 commented on #53
I am running Version: 0.2.6.

This is what I got when I ran the script just now

[code]
Running with the debugger I got

[code]

I wonder if it is something to do with the CrossRef API metering the number of queries. I have done a lot of queries today as I am trying to sort out a pile of pdfs.

[2017-04-13 13:20] a59 commented on #53
I tried again this morning and confirmed that it is an intermittent fault. It sometimes works and sometimes does not.

[2017-04-14 17:32] sckott commented on #53
there is rate limiting, see https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#rate-limits and we've documented in the library as well.

you can use verbose http output, see https://github.com/sckott/habanero/blob/master/habanero/__init__.py#L29-L41 for how to do that with `habanero`

[2017-04-17 23:54] sckott commented on #53
Did you try verbose http output?  Curious if that gave you any clarity?

[2017-04-24 20:19] a59 commented on #53
I added the code for verbose output and this is what I got back.

[code]

[2017-04-25 03:06] sckott commented on #53
Interesting, for the 2nd one that fails, i'm getting:

[code]

Can you upgrade to the dev version https://github.com/sckott/habanero#installation and see if at least you're getting the same error as me.

The problem with the query that doesn't work is a Crossref issue - related questions to this issue have been asked over at https://github.com/CrossRef/rest-api-doc/issues (including me https://git

[2017-04-25 03:07] sckott commented on #53
By the way, the query that works I have received the same error response on sometimes, so I don't think it's jus the difference of the two query terms (but rather a failure on their servers unrelated to the query terms given)

[2017-04-25 03:08] #41 closed

[2017-04-25 03:08] #45 closed

[2017-04-26 00:05] sckott opened #54 "Mock most tests"
still want some live http requests in tests - see what done in pytaxize https://github.com/sckott/pytaxize

[2017-04-30 21:00] a59 commented on #53
I did upgrade to the development version and did get the same error. Although it's a problem with the CrossRef api, may I put in a request that habanero fail gracefully, somehow?

[2017-05-03 18:47] sckott commented on #53
What do you imagine is more graceful?

[2017-05-04 20:08] a59 commented on #53
I am searching a long list of paper titles to match them to pdfs in my library. Raising an exception is fine, but maybe issuing a warning that nothing could be found would be more useful.

[2017-05-04 20:44] sckott commented on #53
thanks for that.

I think what currently happens is the appropriate response.   What you can easily do though is use e.g,

[code]

so that you can loop/map over many things and failures give back whatever you like (e.g., `None`)

[2017-05-20 15:48] sckott commented on #53
any thoughts @a59 ?

[2017-05-20 16:32] #47 closed

[2017-05-20 16:32] #44 closed

[2017-05-20 16:32] #49 closed

[2017-05-20 16:32] #50 closed

[2017-05-20 20:08] #46 closed

[2017-05-20 20:08] #48 closed

[2017-07-18 18:26] talbertc-usgs opened #57 "style not functioning/not getting passed to request"
I can't seem to get different citation styles to work.  I think I've tracked the problem down to:
https://github.com/sckott/habanero/blob/master/habanero/cnrequest.py#L46

if I copy/duplicate the lines:
https://github.com/sckott/habanero/blob/master/habanero/cnrequest.py#L39-L40
after that line it starts working for me.

Environment:  Windows 64,  Python  3.4, habanero installed from: **https://an

[2017-07-18 18:30] sckott commented on #57
@talbertc-usgs thanks for this. Your reasoning looks right to me. Sorry I missed that. A PR would be great. Can you include a test too for that fix?

[2017-07-18 18:32] talbertc-usgs commented on #57
You bet.  It might take me a few days but sure.

On Tue, Jul 18, 2017 at 12:30 PM, Scott Chamberlain <
notifications@github.com> wrote:

--
Colin Talbert
Data Manager, Analyst and Developer
US Geological Survey, Fort Collins Science Center
2150 Centre Ave. Bldg. C
Fort Collins, CO 80526
(970) 226-9425
http://orcid.org/0000-0002-9505-1876

Work schedule:
Monday                       - 12:00 - 6:30

[2017-07-18 19:29] sckott commented on #57
Okay, thanks

[2017-07-19 21:41] sckott commented on #57
fix via #58

[2017-07-19 21:41] #57 closed

[2017-07-21 00:35] sckott commented on #53
Don't seem to be seeing this error anymore, closing, we can reopen if this keeps happening

[2017-07-21 00:35] #53 closed

[2017-07-21 00:50] sckott commented on #37
done in 5a4d1a9ebb6353e829c799d3d4547927d7cc650c

[2017-07-21 00:50] #37 closed

[2017-07-21 00:54] sckott opened #59 "improve docs"
move to setup i did for pygbif, https://pygbif.readthedocs.io/en/latest/index.html

[2017-07-21 01:13] sckott commented on #54
need to do in a bad way - just cause better, also to avoid crossref rate limiting leading to failed tests

[2017-07-21 02:15] #54 closed

[2017-09-08 14:17] sckott opened #60 "new filter: full-text.application"
https://github.com/CrossRef/rest-api-doc#documentation-history

[2017-09-12 16:34] sckott opened #61 "add additional sorting options"
https://github.com/CrossRef/rest-api-doc#sorting

[2017-09-12 16:34] sckott opened #62 "add additional field query options"
https://github.com/CrossRef/rest-api-doc#works-field-queries

[2017-09-30 14:39] brandonStell opened #63 "Can identify to crossref?"
https://github.com/CrossRef/rest-api-doc#etiquette

[2017-09-30 14:39] brandonStell opened #64 "Search for punctuation in title?"
Is there a way to return results using query_title that have "[Retracted]" in the title but not "retracted"?

[2017-09-30 15:40] sckott commented on #63
i have no idea what you're asking, please clarify

[2017-09-30 15:43] sckott commented on #64
i see you asked https://github.com/CrossRef/rest-api-doc/issues/283 - that's the better place to ask, we can add an example in docs here

[2017-09-30 17:43] brandonStell commented on #63
Sorry about that.  I agree that it was completely incomprehensible.  Thanks for taking the time to get back to me.

is it possible to

[2017-09-30 17:44] brandonStell commented on #64
OK.  Thought maybe I had missed something.

[2017-09-30 18:36] sckott commented on #63
we do send a user agent header in every request, try this:

[code]

[code]

---

I imagine you want to set your own user agent string though, correct?  if so, I can probably modify `Crossref` class to allow to set a user agent string

[2017-09-30 18:42] brandonStell commented on #63
I'd like to be able to set a mailto:
If I hammer their servers I'd like to give them the opportunity to contact me.

[2017-09-30 22:14] sckott commented on #63
okay, i'll look into it

[2017-10-01 08:24] brandonStell commented on #63
actually...
this seems to work and probably solves my issue:
crossrefJson = cr.works(query_title ='Cancer', **mailto='email@address.com'**)

[2017-10-06 23:13] sckott commented on #63
@brandonStell are you sure that's working? looking at code, looks like we setup `**kwargs` to be used for field queries only with the works/members/etc. functions

[2017-10-09 18:07] sckott commented on #63
@brandonStell thoughts on my last comment?

[2017-10-11 18:35] brandonStell commented on #63
Sorry for the slow response.  Unfortunately now I can't remember why I thought it was working (perhaps  because it didn't throw an error...)

[2017-10-11 18:37] sckott commented on #63
yeah, i wouldn't think it would throw an error

from my understanding of the code, i don't think what you did should work, can you try again with the verbose printing from https://github.com/sckott/habanero/issues/63#issuecomment-333327579 and show me what you get

[2017-10-11 18:57] brandonStell commented on #63
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.crossref.org
DEBUG:urllib3.connectionpool:https://api.crossref.org:443 "GET /works?query.title=Cancer HTTP/1.1" 200 208922

[2017-10-14 20:24] sngordon opened #65 "Implementation of the SELECT parameter"
I've found that when I request results an alternative format (ris, bibtex) the date returned tends to be the published-online date (perhaps the earliest of the published-online & published-print). The authors I'm working with tend to cite the published-print date, so I'm looking for strategies to provide the print date instead.

Examples:
http://api.crossref.org/works/10.1007/s10980-007-9188-1
ris

[2017-10-15 19:01] sckott commented on #63
right, so looks like it doesn't work to pass in email.

can look into adding option to set that

[2017-10-15 19:20] sckott commented on #65
Thanks for the issue @sngordon

Hadn't seen the `select` parameter, will add it to `habanero`, (note to self, see also https://github.com/CrossRef/rest-api-doc/issues/289)

As for your question about print vs. online dates, it doesn't appear that you can select those published date fields with `select` on that route `/works/{DOI}`. Not sure what best approach is. Not sure why you'd make a second r

[2017-10-15 19:21] sckott opened #66 "Add to docs about polite pool"
https://github.com/CrossRef/rest-api-doc#good-manners--more-reliable-service

[2017-10-15 19:23] sckott opened #67 "Support and update docs for /members and /funders route filters"
see at bottom of https://github.com/CrossRef/rest-api-doc#filter-names section

[2017-10-15 19:35] sckott opened #68 "Add mailto"

[2017-10-15 20:08] #66 closed

[2017-10-15 20:08] #68 closed

[2017-10-15 20:34] sckott commented on #65
@sngordon you can reinstall from github and try again, `select` parameter is implemented

[2017-10-16 04:33] sckott commented on #65
closing this now as select param implemented

[2017-10-16 04:33] #65 closed

[2017-10-16 04:39] #62 closed

[2017-10-16 04:40] sckott commented on #61
already done

[2017-10-16 04:40] #61 closed

[2017-10-16 17:16] #60 closed

[2017-10-16 18:55] sckott commented on #63
@brandonStell sorted out via #68 - try again after reinstalling from github, will push new version to pypi soon

[2017-10-16 18:55] #63 closed

[2017-10-16 20:23] sckott commented on #64
since this is a task to do after getting data back, closing this

[2017-10-16 20:23] #64 closed

[2017-10-16 22:23] sngordon commented on #65
@sckott thanks so much for the quick implementation of this! I found that I can now combine 'select' with 'filter' to get specific fields from a specific doi:
'cr.works(filter = {'doi':"10.1007/s10980-007-9188-1"}, select = "DOI,published-print")'

The reason I'm making this additional query for published-print is that our current workflow only requests a RIS-formatted record, which provides just

[2017-10-17 04:39] sckott commented on #65
Great, glad that worked for you with select and filter

I see. Yes, counts has a email address for my collaborator. The idea is that module will no longer be needed some day as data are supposed to make it into the main crossref API, but who knows when that will be

Very cool about the tool you make. Is that using Crossref API in the backend then?

[2017-10-19 00:47] sngordon commented on #65
The taccimo site is a MySQL database with a php front end. The references are actually hand selected or read in from key documents in an unstructured format. Then we use Crossref to attempt to retrieve a doi and a structured record (using RIS format now but may switch to citeproc-json so I can make sure to get the published-print date). Next I'm working on using the structured record to return a f

[2017-10-19 16:59] sckott commented on #65
here's the docs page for content negotation in case you hadn't seen it  https://citation.crosscite.org/docs.html

yeah, i don't know why that's not working. will see if i can find out

[2017-10-20 00:36] sckott commented on #65
so the CSL style just isn't updated where they are pulled from when doing content negotiation apparently, see the error in

[code]

but folks at https://citation.crosscite.org/  did just update CSL styles so you can get a format there, or by curl like

[code]

but that of course is not  in habanero

[2017-10-20 23:24] #59 closed

[2017-10-20 23:45] sckott commented on #67
these don't actually  work, so return to later if they work at some later date

[2017-10-22 01:04] sngordon commented on #65
Thanks again! I wasn't sure of where in the chain the problem was located. I didn't know about  https://citation.crosscite.org/ either, but I'm sure I can rig some code to use that.

[2017-12-20 01:14] sckott opened #69 "maybe in `works`: throw warning instead of stop/error when DOI not found"
cc @Bubblbu

[2017-12-20 01:23] sckott commented on #69
seems like https://docs.python.org/3/library/warnings.html#warnings.warn is idiomatic ?

[2017-12-20 01:57] sckott commented on #69
maybe

[code]

[code]

vs.

[code]

[2017-12-20 01:57] sckott commented on #69
not sure which warning class to use...

[2017-12-20 07:11] Bubblbu commented on #69
According to [PEP 230](https://www.python.org/dev/peps/pep-0230/) going for a custom Warning subclass would be okay, but I think that in this case just using UserWarning + the message should be fine?

[2018-01-18 05:56] sckott commented on #69
started working on this in `warnings` branch via e1310e458188b85aa294df029587a86abefd653f

[2018-02-17 16:21] sckott opened #70 "Use type hints?"
https://www.python.org/dev/peps/pep-0484/

means min. python 3.5 AFAICT

[2018-03-05 08:03] oaken-source opened #71 "Changelog.rst missing from pypi distribution"
Downloading the following source releaese from the pypi page (https://pypi.python.org/pypi/habanero#downloads)

https://pypi.python.org/packages/6a/48/3396b520da48fa7d645d29ce1de6ca706fa9f4ce37a3ea5019e1f7662cac/habanero-0.6.0.tar.gz#md5=3646ed46c855c0c3a3d43e2293061d93

and then invoking `python setup.py install`

produces the following error:

[code]

The Changelog.rst file is missing from the d

[2018-03-06 17:28] sckott commented on #71
thanks @oaken-source

i'll have a look , not sure why that's happening.

[2018-03-31 16:34] AlexHenderson opened #72 "registration_agency example doesn't work."
... or am I doing something wrong :-/

Thanks, Alex

[code]

[2018-03-31 16:47] sckott commented on #72
woopsy, thanks for reporting it, will fix

[2018-04-01 15:57] #72 closed

[2018-04-01 15:57] sckott commented on #72
@AlexHenderson fixed, try again after reinstalling from github

[2018-04-01 16:09] #71 closed

[2018-04-01 16:10] sckott commented on #71
okay, added a manifest file to include chanloge, docs, and test files, next push up to pypi should fix this

[2018-04-02 16:57] AlexHenderson commented on #72
All good now. Thanks for the quick turnaround.

[2018-05-23 02:31] peterswords opened #73 "Unicode problem in Python"
Also on StackExchange [here](https://stackoverflow.com/questions/50477475/getting-wrong-unicode-from-habenero-api-in-python).

`import json`
`from habanero import cn`
`x = cn.content_negotiation(ids="10.1051/0004-6361/201628812",`
`    format = "text", style = 'elsevier-harvard')`
`print(u'{0}'.format(x))`
`print(json.dumps(x, indent=4, sort_keys=True))`

I get the following output (emphasis mine)

[2018-05-24 22:49] sckott commented on #73
thanks @peterswords

does look like a bug

[2018-05-24 22:50] sckott commented on #73
@peterswords can you reinstall from here and try again

[2018-05-25 00:51] peterswords commented on #73
Many thanks Scott, that worked perfectly. My output is now:

Hawkins, K., Masseron, T., **Jofré**, P., Gilmore, G., Elsworth, Y., Hekker, S., 2016. An accurate and self-consistent chemical abundance catalogue for the APOGEE/Keplersample. Astronomy & Astrophysics 594, A43.

"Hawkins, K., Masseron, T., **Jofr\u00e9**, P., Gilmore, G., Elsworth, Y., Hekker, S., 2016. An accurate and self-consistent c

[2018-05-25 00:51] #73 closed

[2018-06-21 14:14] tschoonj opened #74 "get citing works for a given DOI"
Hi,

I was wondering if it is possible to get the DOIs of works that cite a given DOI.
I only managed to find how many times a given DOI is cited, but I would like to get the DOIs as well...

Thanks in advance,

Tom

[2018-06-22 20:41] sckott commented on #74
thanks for your question @tschoonj

it's not possible via the Crossref API. that is locked down data for publishers.

one option is to go through Pubmed - i don't know the Python clients for entrez api but I'm sure there are many.

Another is the http://opencitations.net/ project, i know they have a sparql endpoint

[2018-06-23 06:12] tschoonj commented on #74
Thanks for the reply Scott!

[2018-06-23 06:12] #74 closed

[2018-08-20 17:24] rgieseke opened #75 "Update PyPI upload"
Thanks for this awesome tool!

Could you update the PyPI download with '0.6.0.3' ?

I just struggled a bit with the UTF-8 encoding issue ...

My workaround is to install with `pip install https://github.com/sckott/habanero/archive/master.zip`

[Edited: Fixed version number]

[2018-08-20 17:48] sckott commented on #75
thanks for the issue and thanks for trying it.

good idea, there's two other issues fixed as well, will push soon

[2018-10-22 15:56] rgieseke commented on #75
Run into this again ... would be much appreciated :-)

[2018-10-22 16:09] sckott commented on #75
Sorry about delay, will get it up today

[2018-10-22 17:06] sckott opened #76 "fix `filter_names()`: no sorting on dict_keys"
in python 3 calling `.keys()` returns a `dict_keys` object, which you can't call `.sort` on . do `list(x.keys())` first

[2018-10-22 17:10] #76 closed

[2018-10-22 18:09] sckott commented on #75
its up now on pypi, let me know if any problems

[2018-10-22 18:09] #75 closed

[2018-10-22 18:16] rgieseke commented on #75
Awesome, works perfectly now! Thanks al lot!

[2018-11-28 13:45] gorbynet opened #77 "Feature request: progress indicator when deep paging"
When systematically retrieving large data sets, it would be useful to have some way of measuring progress through the data harvest, e.g. show how many records have been retrieved, and how many there are in total, while the retrieval is ongoing.

[2018-11-28 14:02] gorbynet opened #78 "Habanero fails to terminate deep paging when using a cursor partway through the dataset"
If you try and resume download of a large dataset partway through i.e. by specifying a cursor other than *, habanero doesn't terminate when the remaining results have been retrieved, i.e. the Crossref API returns 0 results.
Sample code:
[code]

[2018-11-28 18:19] sckott commented on #77
thanks @gorbynet

I assume you mean with deep paging? looking into it, not done progress bars before in python

[2018-11-28 18:20] sckott commented on #78
thanks for the report @gorbynet - will have a look

[2018-11-28 23:43] sckott commented on #77
maybe https://github.com/weecology/retriever/blob/0112008b710d176fc543be174bcd1205cb1fef1e/retriever/lib/engine.py#L455 using https://pypi.org/project/tqdm/

[2018-11-28 23:43] sckott commented on #77
clint is another option

[2018-11-29 11:00] gorbynet commented on #78
This seems to work. Adding a check for zero rows returned in `request_class`
[code]

[2018-11-29 19:34] sckott commented on #77
thanks, i'll experiment and ask for your feedback

[2018-11-29 19:36] sckott commented on #78
thanks @gorbynet

[2018-12-14 18:00] sckott commented on #78
@gorbynet i can't replicate the problem you gave above. I tried with the dev version on master as well as the version on pypi.

can you test again and if you still get the problem what python version and habanero version do you have

[2018-12-14 18:52] sckott commented on #77
this is more complicated than i thought. we need i think to have an idea of how many requests we'll make for a progress bar to work.

we're doing requests in a while loop https://github.com/sckott/habanero/blob/master/habanero/request_class.py#L68-L73 - we need to look at total results found by the server and also cursor_max

[2018-12-14 21:07] sckott commented on #77
okay, install from `progress-bar`

[code]

and try e.g.,

[code]

[2018-12-14 21:13] sckott commented on #77
let me know what you think

the progress bar is not integrated into requests - it's only activeated when deep paging - it's just a progress bar on the while loop that uses an estimate of how many requests will be done

[2018-12-20 10:30] Metasoliton opened #79 "Wiki: download PDF based on DOI"
Hi there, great work!!!

I am a first-time user, trying to wrap my head around dowloading a PDF based on its DOI, something like
doi.download('10.1590/0102-311x00133115', '~/Downloads/')
that would result in the PDF landing in my Downloads folder.

I guess this is something very simple, however I could not find any example. Would you please provide one, perhaps even as a Wiki entry?

Many thanks &

[2018-12-20 18:48] sckott commented on #79
thanks for your question.

`habanero` doesn't include any full text download or extraction itself.

i started `pyminer` https://github.com/sckott/pyminer for that purpose - it needs a bit of work though, currently on vacation, will ping you when I get it working

[2018-12-28 22:50] sckott commented on #79
@Metasoliton okay, i've worked on `pyminer` a bit https://github.com/sckott/pyminer#installation - it's got some rough edges still, but I think it's mostly working

[2018-12-28 22:50] sckott commented on #79
if you have any `pyminer` questions/issues please open those over there

[2019-02-21 01:09] sckott commented on #77
any thoughts on this @gorbynet ?

[2019-02-21 06:36] sckott commented on #70
https://docs.python.org/3/library/typing.html

[2019-02-21 06:36] sckott commented on #70
https://mypy.readthedocs.io/en/stable/getting_started.html

[2019-02-21 06:36] sckott commented on #70
stubs https://mypy.readthedocs.io/en/latest/stubs.html

[2019-03-01 04:27] Xunius opened #81 "How to use polite pool in content_negotiation?"
Hi,

I'm currently developing a reference manager tool and I'm learning how to use Crossref. For now I only need to use the `content_negotiation()` function to get an bibtex entry from DOI. I saw the "The Polite Pool" section in the doc of `Crossref`, but no relevant info in `content_negotiation()`. How should I ensure polite pool practices using `content_negotiation()`?

Thanks

[2019-03-01 18:28] sckott commented on #81
thanks for the issue  @Xunius

"Polite pool" only exists for the Crossref API at https://github.com/CrossRef/rest-api-doc - which is what most of the methods in the `habanero.Crossref` module work with. For content negotation, requests of all formats (except one) go to a different place, documented at https://crosscite.org/docs.html . The only format that goes to the Crossref API, and where the po

[2019-03-02 01:12] Xunius commented on #81
@sckott Many thanks for the info!

[2019-03-02 01:12] #81 closed

[2019-03-11 09:06] gorbynet commented on #77
Apologies - this my personal Github account, and I only use the Crossref library for work, and haven't looked at it for months. I've got an audit that needs the deep paging, so I'll have a look at this now.

[2019-03-11 09:32] gorbynet commented on #77
Hi @sckott , that works perfectly. Thank you!

[2019-03-11 16:50] sckott commented on #77
great, glad it works. I'll merge this into master soon

[2019-08-22 18:37] sckott commented on #78
closing inactivity

[2019-08-22 18:37] #78 closed

[2019-08-22 19:11] #77 closed

[2019-08-22 19:24] sckott commented on #39
nah, not clear how to transfer to that

[2019-08-22 19:24] #39 closed

[2019-10-02 22:29] goerz opened #83 "Content Negotiation fails with TypeError for non-dois"
Content negotiation throws a `TypeError` if it is called as e.g.

    habanero.cn.content_negotiation(query_bibliographic=query, limit=1)

whith some string `query`. This is due to the definition of `CNRequest`:

[code]

With the above call, `ids` is passed as `None`, and the query is in the `kwargs`. The line that takes the `len` of `ids` then fails.

[2019-10-02 23:44] sckott commented on #83
Thanks for the issue @goerz

Hmm. For `kwargs` with `content_negotiation` I only support kwargs passed to `requests.get`, e.g. `timeout`, `proxies` - curl modifiers.

Field queries, e.g., `query_bibliographic` are only supported on the Crossref API, and the Crossref API is only used in `content_negotation` method when `format="citeproc-json"`

What's the use case? So I can try to direct you to the

[2019-10-03 00:25] goerz commented on #83
The use case is "get the most likely BibTeX for a free-form query".

I can easily get around this assuming the "most likely record" has a DOI, by first doing `record = Crossref().works(query_bibliographic=query, limit=1)['message']['items'][0]` (get the most likely record for a query), extracting the DOI as `record['DOI']`, and then using the DOI for the content-negotiation (`habanero.cn.content_n

[2019-10-03 18:46] sckott commented on #83
Thanks. For that use case. `works` is the best fit here for that use case, using code as you showed.

Agree, there's definitely a bug, and thanks for the details on it. i'll fix

[2019-11-08 00:52] #83 closed

[2019-11-08 00:53] sckott commented on #83
@goerz can you reinstall and try again `[sudo] pip [or pip3] install git+git://github.com/sckott/habanero.git#egg=habanero` - `ids` param is now required (no default) and must be a `str` or a list of `str`'s

[2019-11-08 00:55] #79 closed

[2019-11-08 19:15] #67 closed

[2019-12-05 08:12] hmpf opened #84 "Any way to set/add to user agent string?"
I know `mailto` can be set, but I hope to use this library as part of a service that fetches from many APIs and would like the same or same-ish user agent everywhere.

[2019-12-05 20:07] sckott commented on #84
thanks for your question @hmpf

we currently send with each request the following UA headers (package versions change obviously)

[code]

Would you want to add to that string or change it completely?

[2019-12-06 07:54] hmpf commented on #84
Good question. If the existing setting can be both read and changed (allowing changing it completely *and* adding to it) I think you'll never get this question again :)

I *need* just to add to the end, my UA, link to site, and a mailto. I'll be hitting crossref once a week or so, is the current plan. (The actual mailto wil lhave to be a setting on my side though as it's a microservice that no dou

[2019-12-06 19:36] sckott commented on #84
i'll have a look. Not sure right now what it will look like but it'll be possible for sure

[2019-12-10 01:25] sckott commented on #84
@hmpf reinstall from branch `user-agent` [sudo] pip install git+git://github.com/sckott/habanero.git@caching#egg=habanero

[code]

do verbose logging to see the request headers

[code]

[2019-12-10 09:14] hmpf commented on #84
The pip-url was wrong, this is the correct one: `git+git://github.com/sckott/habanero.git@user-agent#egg=habanero`.

[2019-12-10 09:22] hmpf commented on #84
For python 3, replace `import httplib as http_client` with `import http.client as http_client`.

Tested. This covers my needs!

[2019-12-11 00:40] sckott commented on #84
woops, thx for the url fix - forgot to fix the copy/paste.

glad it works.

[2019-12-11 00:40] #84 closed

[2019-12-16 19:40] jvansan opened #85 "CrossRef API has deprecated `query.title` in favour of `query.biliographic`"
It seems that the CrossRef API has removed the `query.title` URL as I am now getting a 400 error code.
[code]

The URL listed in the [returned JSON](https://status.crossref.org/incidents/4y45gj63jsp4) says that the query.title endpoint has been blocked now. It seems that all instances of `query.title` can be replaced with `query.bibliographic` but this should be verified.

This is also reflected i

[2019-12-17 22:20] sckott commented on #85
thanks @jvansan for this!

i can replicate the issue, fixing now

[2019-12-18 00:28] #85 closed

[2019-12-18 00:29] sckott commented on #85
reinstall from here and let me know if it works `sudo pip install git+git://github.com/sckott/habanero.git#egg=habanero`

[2020-06-05 09:15] gneotel opened #86 "Get request url"
Hi,
after a request like:
    cr = Crossref()
    Crossref(mailto = "dude@gmail.com")
    x = cr.works(query_author = "DUDE", filter=my_filter)
is there a way to get from the Crossref object the complete request url with query and filters?
Ideally pasting it on a browser I should get the json results.

It would be really helpful for filters tuning.

Thanks a lot.

[2020-06-05 14:19] sckott commented on #86
Thanks for your question, you can turn on verbose curl output - see "Verbose curl output" section in the docs https://habanero.readthedocs.io/en/latest/modules/crossref.html#

[2020-06-05 14:33] gneotel commented on #86
Thank you!

[2020-06-05 14:33] #86 closed

[2020-09-21 12:11] WolfgangFahl opened #87 "Support for DOI Creation"
Is support for https://support.datacite.org/docs/api-create-dois planned?

[2020-09-21 17:58] sckott commented on #87
thanks for your question @WolfgangFahl

habanero is a client for Crossref, not Datacite. Did you mean to open this issue in a repository for the Datacite API?

[2020-09-22 08:49] WolfgangFahl commented on #87
Indeed https://pypi.org/project/datacite/ might be the project this issue needs to be addressed to

[2020-09-22 08:49] #87 closed

[2020-09-24 13:13] dependabot-preview[bot] opened #88 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/sckott) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/sckott/update-logs/48608474).

[2020-09-25 13:15] #88 closed

[2020-12-19 21:06] Bubblbu opened #91 "`limit` option doesn't work for the cr.members route"
I'm on python 3.6.10 and using the latest habanero version (0.7.4)

the `limit` option doesn't seem to be working.

`cr.members(ids=2984, works=True, facet="issn:*", limit=0)` returns the default 20 items.

wondering if this has to do with the mismatch between keywords `limit` & `rows`?

[2020-12-21 16:19] chackoge opened #92 "Feature Request"
Hello- when submitting a list of DOIs to content_negotiation as below, if one of the DOIs isn't found no data is returned and an error is returned. Is there a way to return 'doi not found' and process the rest of the data? Thanks

Python 3.8.2 (default, Nov  4 2020, 21:23:28)
habanero 0.7.4

['10.1126/science.169.3946.635', '10.1162/qss_a_00007', '10.1126/science.169.3946.637'] # the third DOI doe

[2020-12-22 00:36] sckott commented on #91
thanks for the report - having a look

[2020-12-22 01:47] #91 closed

[2020-12-22 01:47] sckott commented on #91
@Bubblbu reinstall from here and try again

[2020-12-22 01:49] #17 closed

[2020-12-22 16:36] sckott commented on #92
thanks for the issue @chackoge

see also https://github.com/sckott/habanero/issues/69

reinstall from here and try again, let me know if it works for you - updated docs here https://habanero.readthedocs.io/en/latest/modules/cn.html#module-habanero with info on warnings

[2020-12-22 17:23] chackoge commented on #92
Works great thank you very much. I like throwing an error when only a single DOI is provided. It's a great client.
Being new to Python I ran
`pip install --force-reinstall habanero' a couple of times to no effect before realizing that
I needed to run
`pip install --force-reinstall git+git://github.com/sckott/habanero.git#egg=habanero'

[2020-12-22 17:44] sckott commented on #92
Was just pinging the other issue as a note to myself so I don't forget about them covering the same topic.

I don't understand very well install from github for python, so I can't help much there - so glad that worked for you.

[2020-12-22 17:44] #92 closed

[2021-02-11 07:27] egils-consulting opened #93 "Missing documentation in readme"
I was looking for a quick example of how to look up data on a publication via the DOI.

[2021-02-11 17:06] sckott commented on #93
does this help? https://github.com/sckott/habanero#usage

[2021-02-12 05:09] #93 closed

[2021-02-24 12:06] toladner opened #94 "Request Progressbar only appears after first page received"
https://github.com/sckott/habanero/blob/785dd2595f95a48ace5d17e06930370a768b7a72/habanero/request_class.py

[2021-07-01 22:32] ppolischuk opened #96 "New Crossref REST API coming soon"
Hi,

Thank you for maintaining one of the documented libraries for using the Crossref REST API.

We’ve been working on a new version of the REST API, replacing the Solr backend with Elasticsearch and moving from our own hardware in a datacenter to a cloud platform.

We plan to cutover to the new version shortly (expect an official announcement on our blog in the next few days with more details), a

[2021-07-02 19:06] sckott commented on #96
Thanks @ppolischuk for the heads up.

Is there a summary somewhere of the changes in the new API vs. the old one?

[2021-07-02 21:23] ppolischuk commented on #96
I have a post scheduled to go live on the Crossref blog on Tuesday that includes more details about changes and what to expect during the cutover. If you would like it before then I could share a draft with you. Please email me at ppolischuk@crossref.org if so.

[2021-07-06 20:58] sckott commented on #96
note to self: blog post with details https://www.crossref.org/blog/behind-the-scenes-improvements-to-the-rest-api/

[2021-08-02 08:39] PCarle opened #97 "error managment"
simple code for reproduce error :
[code]
produce:
[code]
correction proposition (habanero_utils.py):

[code]

[2021-08-06 20:35] sckott commented on #97
Thanks @PCarle !

However, I think the issue is in these `.json` calls here https://github.com/sckott/habanero/blob/89c316df2a0c561fd7d682b71319bdab09c6db03/habanero/habanero_utils.py#L62 - which is a `requests` library method. It tries to parse the returned data as if it JSON.

We should probably use a custom method to "safely" try to parse json and fail out with a useful message if not, or somet

[2021-10-26 23:22] ianhbell opened #98 "bibentry format misses journal"
I'm not quite sure where to report this properly, maybe you know, but when I do a request like:

[code]
the result doesn't have the journal title.  I think the problem is upstream in crossref somewhere. Result:
[code]

[2021-10-26 23:32] #98 closed, assigned to nobody

[2021-10-31 14:04] #97 closed

[2021-10-31 17:05] sckott commented on #97
sorry for  the delay on this, fix made

[2021-11-12 04:36] sckott commented on #69
Work refreshed in ae892691a44b35d5285b789589a4b9254ecb488b

[2021-11-12 04:38] #69 closed

[2021-11-12 05:33] sckott commented on #94
hmm, seems like it's not a big issue. maybe if you can propose a fix we can go from there

[2021-11-26 13:21] tardigradus opened #99 "Replacement of forward slash in URL"
With Python 3.6.8 and habanero 0.7.4, the ```/``` in the DOI-part of the field ```url``` is replaced by ```%2F```, e.g.
the bibtex entry returned by ```www.doi2bib.org``` for the DOI ```10.1021/acs.jpcc.0c05161``` has the element

    url = {https://doi.org/10.1021/acs.jpcc.0c05161}

However, when I run

    bibtex_string = habanero.cn.content_negotiation(ids = doi)

with that DOI, the string I ob

[2021-11-26 19:40] sckott commented on #99
Thanks for the issue. Can you show a complete example? including whats returned

if you do a curl request in bash/etc. the url is already like that, so it's not habanero

[code]

[code]

[2021-11-29 09:54] tardigradus commented on #99
Thanks for looking at this.  An MWE is

    import habanero
    bibtex_string = habanero.cn.content_negotiation(ids='10.1021/acs.jpcc.0c05161')
    print(bibtex_string)

which results in

    @article{Shao_2020,
            doi = {10.1021/acs.jpcc.0c05161},
            url = {https://doi.org/10.1021%2Facs.jpcc.0c05161},
            year = 2020,
            month = {oct},
            publisher = {A

[2021-11-30 18:15] sckott commented on #99
Thanks for the example.

Looks like an easy fix is to do:

[code]

I may put something like this in habanero, but I'm waiting to hear back to see if it can be fixed on their side

[2021-12-02 08:52] tardigradus commented on #99
Thanks, WFM!

[2022-01-04 04:39] holub008 opened #101 "CrossRef.works return type"
habanero version: 1.0.0
python version: 3.9.6

Thank you for `habanero`! As I've started using it, I'm finding myself frustrated by the variety of return types that `CrossRef.works` can produce. Here's an example of these differences, in what I imagine are pretty typical use cases:

[code]
It seems that `habanero` would be easier to work with if these calls returned the same structure. However, I

[2022-01-04 05:22] holub008 commented on #101
One other case for consideration:

[code]

In this case, the return type isn't determined by the argument type, but by its properties, which makes handling variable-input from client code more difficult.

[2022-01-05 22:39] sckott commented on #101
Thanks @holub008 for the issue

I hear you on the difficulty of working with returned data. It is indeed a reflection of what the Crossref API returns. I did that on purpose so it's easy to work with the Crossref API or this library and except the same data structures.

Definitely at the very least documentation should be updated to reflect the return types accurately.

wrt changing what's returne

[2022-01-06 06:01] holub008 commented on #101
Exactly the dilemma I was imagining! My preference is "make things easier for clients". But I should advertise my bias- I arrived at this library _before_ I read any of the CR API docs. If a majority of users are like me, I'd argue strict fidelity to the CR API doesn't provide much value. We "just want the data" as seamlessly as possible.

However, you're right that some fields would not fit with

[2022-01-09 17:16] Keramatfar opened #102 "Exact search for titles"
Thanks for your package, is it possible to search a phrase? I mean searching results with the same words and the same orders, some thing like "Islamic republic of Iran"?

[2022-01-11 15:58] sckott commented on #101
Thinking about changes. Main feeling right now is that I don't want to break the library API - so thinking about ways to standardize at least output from works requests (including from other methods on Crossref) without changing current behavior of existing classes/methods

[2022-01-11 21:08] sckott commented on #102
Yes, I think so. See the field queries in the API docs https://api.crossref.org/swagger-ui/index.html#/Works/get_works and in habanero it's like

[code]

[2022-01-12 20:52] #102 closed

[2022-01-12 20:54] sckott commented on #99
issue https://gitlab.com/crossref/issues/-/issues/1612

[2022-01-12 21:28] sckott opened #103 "change master to main"

[2022-01-12 21:40] sckott commented on #101
@holub008 See https://github.com/sckott/habanero/blob/works-handler/habanero/crossref/crossrefworks.py - perhaps this will work

[2022-01-13 09:02] Keramatfar commented on #102
Thanks, but that does not works:
`[['Iran, Islamic Republic'],
 ['Iran, Islamic Republic'],
 ['Iran (Islamic Republic of)'],
 ['Iran (Islamic Republic of)'],
 ['Islamic Republic of Iran'],
 ['Iran (Islamic Republic of)'],
 ['Iran (Islamic Republic of)'],
 ['Iran, Islamic Republic of'],
 ['Iran (Islamic Republic of)'],
 ['Iran, Islamic Republic of'],
 ['Iran, Islamic Republic of'],
 ['Iran (Islamic

[2022-01-13 09:03] Keramatfar commented on #102
`res = cr.works(query_title = 'Microglia in the Basal Ganglia of Mice')
[x['title'] for x in res['message']['items']]`
will results:
`[['Methylphenidate Exposure Induces Dopamine Neuron Loss and Activation of Microglia in the Basal Ganglia of Mice'],
 ['Basal Ganglia IV - Basal Ganglia and Ventricle'],
 ['Correction: Methylphenidate Exposure Induces Dopamine Neuron Loss and Activation of Microglia

[2022-01-19 14:54] sckott commented on #102
Right, I see what you mean. As far as I know there is no way to do a search of an exact phrase. So perhaps you have to do a search, and then do the exact matching yourself within python

[2022-01-19 19:19] Keramatfar commented on #102
Good idea.

[2022-01-19 20:09] sckott opened #104 "test mailto, add to test-settings.py"

[2022-01-27 22:58] sckott commented on #101
any thoughts @holub008 ?

[2022-02-12 16:00] sckott commented on #101
rebased to main

[2022-02-12 16:00] #101 closed

[2022-02-12 16:03] sckott commented on #103
doene

[2022-02-12 16:03] #103 closed

[2022-02-13 03:13] #96 closed

[2022-05-06 16:53] IvanSterligov opened #106 "list index out of range when using WorksContainer"
hi there, and thank you for your useful library!

I'm using the latest habanero build (pip installed today) and get an error when trying to put results in a WorkContainer

from habanero import Crossref, WorksContainer
cr = Crossref(mailto = "(my email)")
res = cr.works(query_affiliation='Higher School of Economics*', cursor='*', works=True, cursor_max=500, progress_bar=True)
x=WorksContainer(res)

[2022-05-06 17:13] sckott commented on #106
thanks for the issue @IvanSterligov

yep, i get the same error. its possible i didn't make sure `WorksContainer` worked with results of a cursor, i'll have a look

[2022-05-06 20:39] sckott commented on #106
@IvanSterligov  can you  reinstall from github and try again?

[2022-05-08 07:16] IvanSterligov commented on #106
thanks for a quick fix! now it's working.

btw I had to modify your recommended git setup line

this one is not ok for me:
pip (or pip3) install git+git://github.com/sckott/habanero.git#egg=habanero

this one is ok:
pip (or pip3) install git+**https**://github.com/sckott/habanero.git#egg=habanero

the reason: https://github.blog/2021-09-01-improving-git-protocol-security-github/

[2022-05-08 07:16] #106 closed

[2022-05-11 13:50] sckott commented on #106
thanks for the note about install. fixed now in 7d652e1

[2022-06-07 15:56] sckott commented on #70
Working on new branch https://github.com/sckott/habanero/tree/type-hints-new

Done but need to work out how to do type hints where they work if user is running older python versions

[2022-06-20 04:31] #70 closed

[2022-06-29 08:35] robtlx opened #107 "Get DOI from query? Convert to dataframe?"
Hello!

How would I go about in extracting the DOI from a query result?
I tried a variant [from here](https://habanero.readthedocs.io/en/latest/modules/crossref.html) but I get a KeyError on 'DOI' in [ z['DOI'] for z in x['message']['items'] ] and I don't really know how to proceed.

I tried converting the query results to a dataframe but that gives me most of the results under one single paramete

[2022-06-29 10:06] robtlx commented on #107
Managed to solve this by rewriting things around like:
for i in crossref_results['message']['items']:
    doi = i['DOI']

But now I'm running into a different issue.. if I go along with the max results of 1000, everything is fine - but obviosuly I want more than 1000. If I do **cursor=(*)**, it runs for quite a while but then I get a "TypeError: list indices must be integers or slices, not str" fo

[2022-06-29 16:44] sckott commented on #107
thanks for your question

What Python version are you using? And what habanero version? You can get the habanero version like

[code]

So if you run the below example, you get a key error?

[code]

If the above works for you, please share the full example so I can see why you are getting the error.

Yes, using cursor pagination will take a while if you are not filtering the query in any way since

[2022-06-29 21:28] robtlx commented on #107
Thank you for the reply and sorry to bother!

I'm on Habanero 1.2.2 and tried it on two different machines running Python 3.6 and 3.8.

I managed to work around the first version but tried running the code snippet you asked and it's now not giving any errors - just flagging the second statement as having no effect (I'm using PyCharm CE). It's not returning anything, either. Also, I am not interest

[2022-06-29 21:28] #107 closed

[2022-07-01 05:01] sckott commented on #107
Great, nice work figuring it out

[2022-10-08 17:39] yigitsever opened #109 "Installs "test" into Python path"
Seems like #105 is recurring again

Discovered the bug due to `i3-layouts` having the same issue: https://github.com/eliep/i3-layouts/issues/24

[code]

[2022-10-14 10:51] yigitsever commented on #109
Oops, I've been getting a (very) outdated version, I should've checked that before creating an issue, sorry!

(https://aur.archlinux.org/packages/python-habanero)

[2022-10-14 10:51] #109 closed

[2022-10-14 12:17] sckott commented on #109
glad it's sorted out!

[2022-11-17 14:31] WolfgangFahl opened #110 "error message requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url even when ua and mailto is set"
see https://github.com/OpenRefine/OpenRefine/issues/1669

the test below used to work. Now i am using habanero 1.2.2 and i get the error above. Curl via comand line and direct API access in my browser strangely works.

[code]

with a wrapper
[code]
[code]

[2022-11-17 18:14] sckott commented on #110
Thanks for the issue. I can't run this as is. Where is the skg package?  That issue you link to is 4 yrs old. There may have been an issue with Crossref at that time, but it's unlikely to be the same problem

[2022-11-17 21:15] WolfgangFahl commented on #110
Just tried python 3.9 and getting the same error.

[2022-11-18 14:19] WolfgangFahl commented on #110
It is very strange. The error is computer dependend not IP, not MAC address. What on earth could crossref evaluate do create a 401 specifically for a computer?

[2022-11-20 09:04] WolfgangFahl commented on #110
Does habanero have some kind of proxy cabability e.g. to ask another computer todo the actual work?

[2022-11-25 04:25] sckott commented on #110
Thanks for the details @WolfgangFahl I'll take a look soon.

I'd be surprised if the problem was with habanero, but it's possible i guess

[2022-11-28 09:40] WolfgangFahl commented on #110
I have opened a ticket with CrossRef in the meantime but didn't get a reply yet. For my daily work this is still a showstopper and if have to use a different machine. I wonder whether a simple docker environment would change the situation and may try it out in the upcoming weeks if not other solution comes up.